@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

*{
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 87.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  min-height: 100vh;
}
@media (min-width: 576px) {
    html {
        font-size: 40%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 47.5%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 67.5%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 87.5%;
    }
}