.flex-container{
    display: flex;
}
.flex-justify-content-center{
    justify-content: center;
}
.flex-justify-content-space-evenly{
    justify-content: space-evenly;
}
.flex-justify-content-space-around{
    justify-content: space-around;
}
.flex-justify-content-space-between{
    justify-content: space-between;
}
.flex-justify-content-flex-start{
    justify-content: flex-start;
}
.flex-justify-content-flex-end{
    justify-content: flex-end;
}
.flex-item{
    flex: 1;
}
