$primary-red: #F1404B;
$primary-dark: #f72432;
$primary-light: #ee525c;
$primary-tint: #fff3f3;

$primary-black: #3d3d3d;
$primary-grey-1: #333333;
$primary-grey-2: #0f0d0d;
$primary-grey-3: #999999;
$primary-grey-4: #aaaaaa;

$primary-light-1: #faf9f9;
$primary-light-2: #f4f2f2;
$primary-light-3: #f0eeee;
$primary-light-4: #cccccc;

$white: #ffffff;
